<button (click)="startGame()" mat-button> Rozpocznij ankietę </button>
<button (click)="cancelGame()" mat-button color="warn"> Zakończ sesję </button>
<h2> Uczniowie: </h2>
<ul>
    @for (student of students; track student) {
        <li class="users">
            <mat-card>
                <mat-card-content class="users__card">        
                    {{student.name}}
                    <button 
                        mat-icon-button
                        color="primary"
                        (click)="deleteStudent(student)"
                    >
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
        </li>
    }
</ul>