div.existing-questions {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: end;

  margin-bottom: 30px;
}

div.bottom-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
