:host {
  width: calc(
    min(90%, 1000px)
  );
}

div.top-row {
  display: flex;
  justify-content: space-between;

  div.show-hide-buttons {
    margin-right: 10px;
  }
}

mat-card {
  margin: 30px 0;
}

div.answer-row {
  display: flex;
  justify-content: space-between;
}

p.bold {
  font-weight: bold;
}

div.bottom {
  display: flex;
  justify-content: end;
}
